#!/usr/bin/env bash

#switch azure account with fzf
aac() {
  local accounts subs subname sub

  if command -v az &> /dev/null; then
    if command -v jq &> /dev/null; then
      accounts=$(az account list)
      subs=$(echo "$accounts" | jq -r '.[].name')
      subname=$(echo "$subs" | fzf +m)
      sub=$(echo "$accounts" | jq -r --arg subname "$subname" '.[] | select(.name==$subname).id')
      az account set -s $(echo "$sub")
    else
      echo "jq command missing"
    fi
  else
    echo "az command missing"
  fi
}

tm() {
  [[ -n "$TMUX" ]] && change="switch-client" || change="attach-session"
  if [ $1 ]; then
    tmux $change -t "$1" 2>/dev/null || (tmux new-session -d -s $1 -c "$HOME/src/$1" && tmux $change -t "$1"); return
  fi
  session=$(tmux list-sessions -F "#{session_name}" 2>/dev/null | fzf --exit-0) &&  tmux $change -t "$session" || echo "No sessions found."
}

pp() {
  echo "$1" | tr ":" "\n" | nl
}

e () {
  vim -q <(rg --vimgrep "$1")
}

zstyle ':completion:tm' fd -d 1 --search-path ~/src
