.aiaccounts
.aiadalcache
.cache
.CFUserTextEncoding
.DS_Store
.git
.gnupg*
.nix*
.ssh
.tmux
.Trash
.viminfo
.vscode-insiders
.wget-hsts
.zsh_history
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
src
.bash_history
.local
.vim
.config/configstore
.docker
.node_repl_history
.npm
.azure
.zcompdump
