.aiaccounts
.aiadalcache
.cache
.CFUserTextEncoding
.DS_Store
.git
.gnupg*
.nix*
.ssh
.tmux
.Trash
.viminfo
.vscode-insiders
.wget-hsts
.zsh_history
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
.bash_history
.local
.vim
.config/configstore
.docker
.node_repl_history
.npm
.azure
.zcompdump
.lesshst
.terraform.d/
.bash_sessions/
.dropbox/
.zsh_sessions
Dropbox
.gnupg/
.config/gh/hosts.yml
.psql_history
.azuredatastudio/
.pgadmin
go
**/*/tags
tags
.weechat/
VirtualBox VMs/
**/*/.direnv
.envrc
.direnv/
.cups/
.kube
.postgresql
.ghc/
.go/
.packer.d
.pulumi/
.idea/
src/
.android/
.embedmongo
.gradle
.lemminx
.m2
.pgpass
.redhat
.sts4
.bin/
.ssh/config
